@import "globals.scss";
@import "variables.scss";




.content{
    position:relative;
    z-index: 999;
    width:45.7rem;
    background-color: $grey-blue;
    padding:5.5rem 4.81rem  0 0;
}

.content h1{
    color:$white;
    margin:0;
}

.content span {
    color:$light-green;
}
//host image wrapper
.image{
    position:absolute;
    right:0;
    top:6.5rem;
}
//
//patterm dots image
.image-2{
    position:absolute;
    top:43rem;
    right:0;
}
//

//host image 
.image img{
    width:888px;
    height:640px;
}
//

#host-image-desktop{
    display:block;
}

#host-image-tablet{
    display:none;
}

.form-sm{
    display:none;
}

form{
    padding-bottom:5rem;
    position:relative;
        input{
            width:427px;
            height:56px;
            background-color:$dark-grey;
            border:none;
            border-radius:60px;
            padding-left:1.8rem;
            color:$white;
        }
    
        input:valid{
            border-color: green;
        }

        button{
            position:absolute;
            border-radius:5px;
            border:none;
            background-color: $light-green;
            width:162px;
            height:46px;
            border-radius:55px;
            font-weight: $font-regular;
            top:5px;
            left:260px;
            cursor: pointer;

        }
        button:hover{
            background-color:$hover-green;
            transition:0.5s ease-in;
        }
}



.email-error{
    color:$red;
    font-weight:$font-regular;
    font-size: $smaller-font;
}

.logos img{
    margin-right: 2.3rem;
}

.hide{
    display:none;
}

//Media query for tablet
@media screen and (max-width:1156px){

    #host-image-desktop{
        display:none;
    }

    #host-image-tablet{
        display:block;
    }

    //host image wrapper
    .image img{
        width:491px;
        height:767px;
    }
    //

    //pattern dots image
    .image-2{
        position:absolute;
        top:870px;
        left:100px;
    }
    //

    }

    //Media queries for mobile phones and below
@media screen and(max-width:788px){

    body{
        background:rgba(18,23,37, 0.95) url(/assets/mobile/image-host.jpg);
        background-position:center;
        background-size:cover;
        background-blend-mode: darken;
        text-align: center;
        margin-bottom:1.87rem;
    
    }

    .container{
        margin:0 auto;
        padding:3.27rem 1.27rem 3.27rem 1.27rem;
    }

    .content{
        background-color: transparent;
        margin:0 auto;
        padding:0;
        display: flex;
        flex-flow:column;
        align-items: center;
        max-width:327px;
        height:auto;
        flex:1;

        h1{
        margin-bottom:1rem; 
        font-size:1.625rem;
        }

        #main-para{
        font-size:0.93rem;
        margin-bottom:2rem;
        }
    }

    .image{
        display:none;
    }

    .form-lg{
        display:none;
    }
    

    .form-sm{
        position:initial;
        display: flex;
        flex-direction: column;
        width:327px;
        height:108px;
        margin:0 auto;

        input{
            width:100%;
            min-height:46px;
            margin-bottom:1rem;
        }
        
        button{
            position: initial;
            width:100%;
            min-height:46px;
        }
    }

    .image-2{
        display:none;
    }

    #logo{
        padding-bottom:4rem;
    }

    .logos{
        display:flex;
        justify-content: center;
        width:327px;
        order:0;
        margin-bottom:3rem;
    }

    .logos img{
        transform:scale(0.5);
        margin-right:0.2rem;
    }

    
}

