@import "globals.scss";
@import "variables.scss";



.content{
    position:relative;
    z-index: 999;
    width:45.7rem;
    background-color: $grey-blue;
    padding:5.5rem 4.81rem  0 0;
}

.content h1{
    color:$white;
    margin:0;
}

.content span {
    color:$light-green;
}

.image{
    position:absolute;
    right:0;
    top:6.5rem;

}

.image-2{
    position:absolute;
    top:43rem;
    right:0;
}

.image img{
    width:888px;
    height:640px;
}

form{
    padding-bottom:5rem;
    position:relative;
        input{
            width:427px;
            height:56px;
            background-color:$dark-grey;
            border:none;
            border-radius:60px;
            padding-left:1.8rem;
            color:$white;
        }
    
        input:valid{
            border-color: green;
        }

        button{
            position:absolute;
            border-radius:5px;
            border:none;
            background-color: $light-green;
            width:162px;
            height:46px;
            border-radius:55px;
            font-weight: $font-regular;
            top:5px;
            left:260px;
            cursor: pointer;

        }
        button :hover{
            background-color:$hover-green;
            transition:.5 ease 
        }
}



.email-error{
    color:$red;
    font-weight:$font-regular;
    font-size: $smaller-font;
}

.logos img{
    margin-right: 2.3rem;
}